{{#if archive}}
<div class='back-home'>
  <a href="/">&#8592; Home</a>
</div>
{{/if}}
<table class="archive-list {{#if archive}}archive-main{{/if}}">
  <tr>
    <td class="date">2014-07-17</td>
    <td><a href="/post/19">The Taco Bell & Paleo Conundrum: My Musings and Failings</a></td>
  </tr>
  <tr>
    <td class="date">2014-07-09</td>
    <td><a href="/post/18">One Year of Primal Living: A Retrospective</a></td>
  </tr>
  <tr>
    <td class="date">2014-05-13</td>
    <td><a href="/post/17">Wearable Tech? No Boon For Public Health</a></td>
  </tr>
  <tr>
    <td class="date">2014-05-11</td>
    <td><a href="/post/16">Primal Colophon</a></td>
  </tr>
  <tr>
    <td class="date">2014-05-08</td>
    <td><a href="/post/15">Intermittent Smashing: Bustin’ Through the Plateau</a></td>
  </tr>
  <tr>
    <td class="date">2014-02-26</td>
    <td><a href="/post/14">How Fat Became My Best Friend</a></td>
  </tr>
  {{#if archive}}
  {{else}}
  <tr>
    <td class="see-more" colspan="2">
      <a href="/archive">See all entries...</a>
    </td>
  </tr>
{{/if}}
</table>
