<section class="about">
  <h1 class="tk-futura-pt">about me</h1>
  <p>
    On the professional side of things, I'm a software engineer based in
    Boston where I was born and raised. I specialize in building
    high-fidelity web and mobile web applications. Passionate about the
    open web and its supporting community, whether it's in the browser or
    Node.js, I opt to spend my days hacking in JavaScript.
  </p>
  <p>
    Outside of work I am an avid bio-hacker, nutrition dork, drummer,
    former touring band dude, dog owner/lover, and Certified Party
    Animal™. I prefer to read rather than watch, walk rather than run,
    thrive rather than survive, and fail rather than not try.
  </p>
  <p>
    I am presently employed as
    <a href="https://www.linkedin.com/in/stephenpmurray" target="_blank">Lead Software
      Engineer</a>, a member of the founding team at
    <a href="http://www.projectdecibel.com" target="_blank">Project Decibel</a>.
    We're a core group from same team that was responsible for developing
    and launching Aereo.
  </p>
  <p>
    If that sounds interesting to you and you love JavaScript — we should
    talk, I'm hiring.
  </p>
</section>

<section class="archive">
  <h1 class="tk-futura-pt">blog</h1>
  {{> archive}}
</section>

<div class="spacer"></div>

<section class="projects">
  <h1>projects</h1>
  <ul>
    <li>
      <h2>
        <a href="https://github.com/spmurrayzzz/JuanVsTheTrump" target="_blank">
          Juan vs. The Trump &#8594;
        </a>
      </h2>
      <p>
        My entry into the desktop category of the 2015 js13kgames competition.
        Primary constraint was that the final game needs to be no larger than
        13kB minified and gzipped.
      </p>
    </li>
    <li>
      <h2>
        <a href="https://github.com/spmurrayzzz/ElementalVanguard" target="_blank">
          Elemental Vanguard &#8594;
        </a>
      </h2>
      <p>
        My entry into the desktop category of the 2014 js13kgames competition.
        Primary constraint was that the final game needs to be no larger than
        13kB minified and gzipped.
      </p>
    </li>
    <li>
      <h2>
        <a href="https://github.com/kevincennis/Mix.js" target="_blank">
          Mix.js &#8594;
        </a>
      </h2>
      <p>
        Multitrack mixing in JavaScript using the Web Audio API. I assisted my
        friend & coworker <a href="http://kevvv.in" target="_blank">Kevin Ennis</a>
        in rewriting an awesome Chrome experiment of his to a more organized,
        open source Backbone app.
      </p>
    </li>
    <li>
      <h2>
        <a href="https://github.com/spmurrayzzz/KetoPal.js" target="_blank">
          KetoPal.js &#8594;
        </a>
      </h2>
      <p>
        Completely offline mobile web application built as a way to assist
        myself and my nutrition clients in tracking macronutrient intake on a
        day-to-day basis.
      </p>
    </li>
    <li>
      <h2>
        <a href="https://github.com/spmurrayzzz/FooFighter.js" target="_blank">
          FooFighter.js &#8594;
        </a>
      </h2>
      <p>
        An experiment in making a really crappy starfighter game. My first
        attempt at HTML5 game development.
      </p>
    </li>
  </ul>
</section>

<div class="spacer"></div>

<section class="contact">
  <h1 class="tk-futura-pt">contact</h1>
  <ul>
    <li><a href="http://www.twitter.com/spmurrayzzz" target="_blank"><img src="/img/twitter.png"></a></li>
    <li><a href="http://www.linkedin.com/in/stephenpmurray" target="_blank"><img src="/img/linkedin.png"></a></li>
    <li><a href="http://www.github.com/spmurrayzzz" target="_blank"><img src="/img/github.png"></a></li>
  </ul>
</section>
